*{
    padding:0px;
    margin:0px;
}
html{
    border:7px solid green;
}
body{
    border:7px solid red;
}
.main{
    height:100vh;
    border:7px solid rgb(6, 42, 241);
    display:flex;
    padding:5px;
}



