* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow:hidden
}

.app {
  display: flex;
  height:100vh;
  background: black;
  border: 5px solid rgb(255, 29, 29);
  color:white;
  width:100vw;
}
/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* NAV */
.nav {
  background: #121212;
  border-radius: 10px;
  padding: 10px;
}

.nav-option {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 8px;
}

.nav-option a {
  color: white;
  text-decoration: none;
}

/* LIBRARY */
.library {
  background: #121212;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.library-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

.library-header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.library-content {
  padding: 10px;
  overflow-y: auto;
}

/* CARD */
.card {
  background: #2a2a2a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  color: white;
}

.card p {
  color: #ccc;
  margin: 8px 0;
}

.card button {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  background: #181818;
}

.content {
  flex: 1;
  background: #121212;
  overflow-y: auto;
}

/* PLAYER */
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #181818;
  height: 80px;
  opacity:0;
}
html{
  /* border: 5px solid red;
  height:100vh; */
}
body{
  /* border:5px solid rgb(0, 195, 255); */
  /* height:100vh;
  z-index:2; */
}