 html{
    border:5px solid yellow;
    /* height:100%; */
      /* outline: 2px solid red; */
}
 body{
 font-family:"montserrat","sans-serif";
 margin:0;
 background-color:black;
 /* overflow:hidden;  */
 border: 5px solid red;
 /* height:100%; */
   /* outline: 2px solid rgb(195, 255, 0); */
}
.main{
    display:flex;
    height:100vh;
    border:5px solid rgb(12, 245, 39);
    padding:0.5rem;
}
.sidebar{
    border:5px solid rgb(250, 1, 1);
    width:340px;
    border-radius:1rem;
    background-color:#000;
    margin-right:0.5rem;
}
.main-content{
    border:5px solid rgb(255, 0, 225);
    flex:1;
    border-radius:1rem;
    overflow:auto;
    background-color: #121212;
    color:white;
    padding:0 1.5rem 0 1.5rem;
}
.music-player{
    /* border:5px solid blue;  */
    bottom:0px;
    position:fixed;
    bottom:0px;
    width:100%;
    /* height:75px; */
    left:0px;
    background-color:black;
    box-sizing: border-box;
    display:flex;
    justify-content:space-between;
    align-items: center;
    opacity:0;
}
a{
    text-decoration:none;
    color:#fff;
}
.nav{
    background-color:#121212;
    /* border:5px solid white; */
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    /* height:100px; */
    justify-content: center;
    padding:0.5rem 0.75rem;
}
.nav-option{
    /* border: 5px solid red; */
    line-height:2.5rem;
    opacity:0.7;
    padding:0.5rem 0.75rem;
}
.nav-option:hover{
    opacity:1;
}
.nav-option i{
    color:white;
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left:1rem;
}
.library{
   border-radius:1rem;
   background-color:#121212;
   /* height:100%; */
   margin-top: 0.5rem;
   padding: 0.5rem 0.75rem;
   /* border:5px solid white; */
}
.icons i{
    color:white;
}
.options{
    /* border:5px solid red; */
    display:flex;
    justify-content:space-between;
}
.lab-option{
    /* border:5px solid blue; */
}
.icons{
    /* border:5px solid white; */
}
.lab-option img{
    height:1.25rem;
    width:1.25rem;
}
.icons{
    font-size:1.25rem;
    display:flex;
}
.icons i{
    opacity:0.7;
    margin-right:1rem;
}  
.box{
    background-color:#232323;
    /* height:8rem; */
    /* border:5px solid yellowgreen; */
    border-radius:0.75rem;
    margin:0.75rem 0 1.75rem 0;
    padding:0.75rem 1rem;
}  
.box-p1{
    font-size:1rem;
    font-weight:500;
    color:white;
}  
.box-p2{
    font-size: 0.85rem;
    opacity:0.9;
    color:white;
} 
.badge{
    background-color: #fff;
    /* border:none; */
    border-radius:100px;
    padding:0.25rem 1rem;
    font-weight:700;
    margin-top:0.5rem;
    height:2rem;
    width:fit-content;
} 
.sticky-nav{
    /* border:5px solid rgb(6, 14, 247); */
    position:sticky;
    top:0px;
    background-color:#121212;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem 0 1rem 0;
}
.sticky-nav-icon{
    margin-left: 0.75rem;
    /* border:5px solid white; */
}
.sticky-nav-options{
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:5px solid white; */
} 
.nav-item{
    margin-right:1.rem; 
} 
.dark-badge{
    background-color:#000;
    color:#fff;
}  
@media(max-width:1000px){
    .hide{
        display:none;
    }
} 
h2{
    /* border: 5px solid red; */
}
.cards-container{
    /* border:5px solid red; */
    display:flex;
    flex-wrap:wrap;
}
.card{
    background-color:#232323;
    width:150px;
    border-radius:0.5rem;
    padding:1rem;
    margin: 1rem ;
}
.card-img{
   width:100%; 
   border-radius:0.5rem;
}
.card-title{
    font-weight:600;
}
.card-info{
    font-size: 0.8rem;
    opacity:0.5;
}
.footer{
    /* border:5px solid white; */
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.line{
    width:90%;
    height:30%;
    /* border-top:1px solid white ; */
    /* opacity:0.4; */
}
.player-controls{
    /* border:3px solid rgb(10, 239, 10); */
}
.album{
    width:25%;
    /* border:5px solid white; */
    background-color: rgb(0, 3, 1);
    /* height:50px; */
    padding-left:0.5rem;
}
.player{
    width:50%;
}
.controls{
    width:25%;
    /* border:4px solid greenyellow; */
    background-color:black;
    /* height:50px */
}
.player-control-icon{
    height:1rem;
}
.playbac-bar{
    /* border:5px solid red; */
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.player-controls{
    display:flex;
    justify-content:center;
    align-items:center;
}
.player-control-icon{
    height:1rem;
    margin-right:1.7rem;
    opacity:0.7;
}
.player-control-icon:hover{
    opacity:1;
}
.progress-bar{
    width:70%;
    appearance:none;
    background-color:transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color:#ecedec;
    border-radius:100px;
    height:0.3rem;
    /* border: 3px solid pink; */
}
.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color:#fcfffd;
    border-radius:50%;
    margin-top:-6px;
}
.album-controls{
    /* border:3px solid rgb(234, 7, 7); */
    display:flex;
    justify-content:space-around;
}
.album-card-one img{
    /* height:45px; */
    width:45px;
}
.album-card-two p{
    margin:0px;
    color:white;
    font-size:12px;
    padding-bottom:10px;
}
.album-card-two div{
    color:white;
    font-weight:700;
}
.album-card-three img{
    /* height:45px; */
    width:45px;
}
.album-card-three div{
    display:flex;
    justify-content:space-between ;
    align-items:center;
    margin-left:10px;
}
.album-card-three div i{
    flex-grow:1;
}
.album-card-three div img{
    flex-grow:1;
}
.controls-valume{
    display:flex;
    /* border:5px solid red; */
    align-items: center;
}
.play-music{
    height:3rem;
    flex-grow:1;
}
.mick{
    height:3rem;  
    flex-grow:1;
}
.repeat-music{
    height:2rem;
    flex-grow:1;
    background-color: black;
}
.speaker{
    height:3rem;
    flex-grow:1;
}
.curr-time{
    color:white;
    font-size:1rem;
}
.tot-time{
    color:white;
    font-size:1rem;
}
*{
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

